{{- define "dot" -}}
graph {
    graph [
        {{- if .Title.TitleAttributes.label -}}
        label=<<FONT POINT-SIZE="20">{{.Title.TitleAttributes.label}}</FONT>>,
        labeljust=l,
        labelloc=t,
        {{- end -}}
        nodesep=0.5,
        ranksep=0.5,
        pad="0.2,0.2",
        margin="0.0",
        cencentrate=true,
        splines="spline",
        rankdir=LR
    ];
    node [
        label="\N",
        fontsize=14,
        margin="0.07,0.05",
        penwidth=1.0,
        shape=Mrecord
    ];
    edge [
        dir=both,
        fontsize=12,
        arrowsize=0.9,
        penwidth=1.0,
        labelangle=32,
        labeldistance=1.8
    ];
    {{template "dot_relations" .}}
    {{template "dot_tables" .}}
}
{{end}}