{{define "dot_relations"}}
{{range .Relations}}
  {{.LeftTableName}} -- {{.RightTableName}} [
    {{- if (eq .RightCardinality "*") -}}
    arrowhead=ocrow,headlabel=<<FONT>0..N</FONT>>,
    {{- else if (eq .RightCardinality "+")}}
    arrowhead=ocrowtee,headlabel=<<FONT>1..N</FONT>>,
    {{- else -}}
    arrowhead=noneotee,headlabel=<<FONT>{{.RightCardinality}}</FONT>>,
    {{- end -}}
    {{- if .RelationAttributes.label -}}
    label=<<FONT>{{.RelationAttributes.label}}</FONT>>,
    {{- end -}}
    {{- if (eq .LeftCardinality "*") -}}
    arrowtail=ocrow,taillabel=<<FONT>0..N</FONT>>
    {{- else if (eq .LeftCardinality "+")}}
    arrowtail=ocrowtee,taillabel=<<FONT>1..N</FONT>>
    {{- else -}}
    arrowtail=noneotee,taillabel=<<FONT>{{.LeftCardinality}}</FONT>>
    {{- end -}}
  ];
{{- end -}}
{{- end -}}