{{define "dot_tables"}}
{{range $tk, $t := .Tables}}
  {{.Name}} [label=<<TABLE
      BORDER="0"
      CELLPADDING="0"
      CELLSPACING="0.5"
      WIDTH="134"
      ALIGN="CENTER"
      >
      <TR>
        <TD ALIGN="CENTER" VALIGN="BOTTOM" WIDTH="134">
          <FONT POINT-SIZE="14" FACE="Helvetica bold"><B>{{.Title}}</B></FONT>
          {{- if .TableAttributes.label -}}
            <FONT FACE="Arial Italic" POINT-SIZE="10" COLOR="grey60">&nbsp;{{.TableAttributes.label}}</FONT>
          {{- end -}}
        </TD>
      </TR>
    </TABLE>
    {{- if .Columns -}}
    |
    <TABLE
      BORDER="0"
      ALIGN="LEFT"
      CELLPADDING="0"
      CELLSPACING="4"
      WIDTH="134">
      {{- range $k, $c := .Columns}}
      <TR>
        <TD ALIGN="LEFT"><FONT POINT-SIZE="12">{{.Title}}</FONT>
        {{- if .ColumnAttributes.label -}}
          <FONT FACE="Arial Italic" POINT-SIZE="10" COLOR="grey60">&nbsp;{{.ColumnAttributes.label}}</FONT>
        {{- end -}}
        </TD>
      </TR>
      {{- end}}
    </TABLE>
    {{- end -}}>
    {{- if .TableAttributes.bgcolor}}
    ,fillcolor="{{.TableAttributes.bgcolor}}",
    style=filled
    {{- end -}}
    ];
{{- end -}}
{{- end -}}
